SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
STORAGE_BUCKET_XRAY=xray-images
STORAGE_BUCKET_REPORT=pdf-reports
STORAGE_BUCKET_PROFILE=profile-pictures
JWT_SECRET=
AI_MODEL_PATH=
